.container-footer-color{
    width: 1920px;
    height: 190px;
    background-color: #626262;
}

.container-footer-color .footer-container{
    background-color: #626262;
    width: 80%;
    height: 100%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-footer-color .footer-container .categories-footer-container {
    background-color: #626262;
    display: flex;
    align-items: center;
}

.container-footer-color .footer-container .logo-footer-container svg {
    background-color: #626262;
}

.container-footer-color .footer-container .logo-footer-container {
    background-color: #626262;
}


.container-footer-color .footer-container .categories-footer-container .dot-footer{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0px 20px;
}

.container-footer-color .footer-container .categories-footer-container .category-footer{
    color: #FFF;
    font-size: 15px;
    background-color: #626262;
    font-weight: 600;
}

.container-footer-color .footer-container .copyrights-container {
    color: #fff;
}

.container-footer-color .footer-container .copyrights-container p{
    background-color: #626262;
}

