*{
    box-sizing: border-box;
    background-color: #F8F7F2;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif}

#root{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden ;
    overflow-y: auto ;

}

main{
     width: 100%;
}