.container .fresh-new .heading-line-container .heading{
    flex: 2.2;
}

.container .most-popular-recipe .heading-line-container .heading{
    flex: 4.4;
}

.recipies-cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#main-page{
    height: 100%;
}

.popup{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    background: #fffdfdd4;
    
}

.popup-container img{
    width: 412px;
    height: 243px;
    border-radius: 5px;
}

.close-popup{
    font-size: 60px;
    color: #A5A5A5;
    background-color: #FFFFFF;
    font-weight: 50;
    border:0px;
    cursor: pointer;
    position: absolute;
    right:560px;
    top:200px;
}

.popup-container{
    width: 900px;
    height: 600px;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #D8D8D8;
    background-color: #FFFFFF;
}

.popup .popup-container .heading{
    font-size: 38px;
    color: #F0972A;
    padding: 15px 30px;
    background-color: #FFFFFF;
}

.content-container{
    display: flex;
    padding: 0px 30px 15px 30px;
    background-color: #FFFFFF;
}

.serverFor{
    color: #96BB36;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    padding-top: 17px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
}

.serverFor span{
    background-color: #FFFFFF;
}

.serverFor button{
    padding: 0px;
    font-weight: 100;
    box-shadow: none;
    width: 70px;
    border-radius: 20px;
}

.p-container {
    color: #A5A5A5;
    padding: 15px 0px;
    background-color: #FFFFFF;
}

.p-container p{
    background-color: #FFFFFF;
}

.diffrent{
    padding: 15px 0px;
    display: flex;
    font-weight: 800;
    color: #626262;
    align-items: center;
    background-color: #FFFFFF;
}

.diffrent div{
padding-right: 15px;
background-color: #FFFFFF;
}

.diffrent svg{
margin-right: 5px;
background-color: #FFFFFF;
}

.container-right {
    padding: 0px 15px;
    background-color: #FFFFFF;
}
.container-right span{
    color: #96BB36;
    font-weight: 800;
    background-color: #FFFFFF;
}

.container-right p{
    color: #A5A5A5;
    padding: 15px 0px;
    background-color: #FFFFFF;
}
