.container .fresh-new .heading-line-container .heading{
    flex: 2.2;
}

.container .most-popular-recipe .heading-line-container .heading{
    flex: 4.4;
}

.recipies-cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#main-page{
    height: 100%;
}