.container .heading-line-container .heading{
    flex: 2.2;
}

.container .heading-line-container .line-container{
    flex: 12;
}

.App .container .back-container:hover{
    cursor: pointer;
}

.App .container .section-container td:not(:last-child){
    cursor: pointer;
}

.App .container .section-container td:first-child{
    font-weight: bold;
} 

.section-container table{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section-container table thead{
    color: #F0972A;
}


.section-container table thead tr {
    display: flex;
    margin-bottom: 15px;
}

.section-container table thead .flex-1 {
    flex: 1.65;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-container table thead .flex-9 {
    flex: 7;
    text-align: end;
    padding-right: 27px;
}

.section-container table tbody tr {
    display: flex;
    color: #A5A5A5;
}

.section-container table tbody tr td {
    padding: 20px 0px;
}

.section-container table tbody .flex-1 {
    flex: 1.65;
}

.section-container table tbody .flex-9 {
    flex: 7;
    justify-content: end;
    padding-right: 40px;
}

.flex-9 svg:hover {
    cursor: pointer;
}

.section-container table tbody .flex-9 svg {
    background-color: #fff;
}

.section-container table tbody td {
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-container table tbody td:nth-child(2) .button-container {
    background-color: #fff;
}

.section-container table tbody td:nth-child(2) .button-container button{
    padding: 5px 20px;
    box-shadow: none;
    font-weight: 100;
}

.section-container table tbody td{
    margin: 3px 0px;
}

.section-container tr .flex-1 .myrecipies{
    padding: 0px;
    width: 100px;
    height: 25px;
    font-size: 12px;
    font-weight: 400;
    box-shadow: none;
}

.section-container tr .flex-1 .myrecipies:hover{
    cursor: pointer;
}